:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: var(--bs-blue);
    --bs-secondary: var(--bs-gray);
    --bs-success: var(--bs-green);
    --bs-info: var(--bs-cyan);
    --bs-warning: var(--bs-yellow);
    --bs-danger: var(--bs-red);
    --bs-light: var(--bs-gray);
    --bs-dark: var(--bs-gray-dark);
    /* Red */
    --bs-red: #dc3545;
    --bs-red-100: #ffe3e6;
    --bs-red-200: #ffb3b8;
    --bs-red-300: #ff838a;
    --bs-red-400: #fc5c65;
    --bs-red-500: #dc3545;
    --bs-red-600: #b02a37;
    --bs-red-700: #8a232a;
    --bs-red-800: #681b1e;
    --bs-red-900: #491216;
  
    /* Blue */
    --bs-blue: #0d6efd;
    --bs-blue-100: #deebff;
    --bs-blue-200: #b3d4ff;
    --bs-blue-300: #4dabf7;
    --bs-blue-400: #2c7be5;
    --bs-blue-500: #0d6efd;
    --bs-blue-600: #0a58ca;
    --bs-blue-700: #084298;
    --bs-blue-800: #052267;
    --bs-blue-900: #031738;
  
    /* Green */
    --bs-green: #198754;
    --bs-green-100: #ebf6ec;
    --bs-green-200: #c9e3c5;
    --bs-green-300: #a0cf9e;
    --bs-green-400: #7ac070;
    --bs-green-500: #198754;
    --bs-green-600: #13643b;
    --bs-green-700: #0d4f28;
    --bs-green-800: #093b15;
    --bs-green-900: #052508;
  
    /* Yellow */
    --bs-yellow: #ffc107;
    --bs-yellow-100: #fff9ec;
    --bs-yellow-200: #fff3c1;
    --bs-yellow-300: #ffec96;
    --bs-yellow-400: #ffe358;
    --bs-yellow-500: #ffc107;
    --bs-yellow-600: #cca205;
    --bs-yellow-700: #997c03;
    --bs-yellow-800: #665602;
    --bs-yellow-900: #332b01;
  
    /* Gray */
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
  }
/* Daftar gradient */

.bg-gradient-primary {
  background-image: linear-gradient(to bottom, #0d6efd, #2b5fb5);
}

.bg-gradient-secondary {
  background-image: linear-gradient(to bottom, #6c757d, #343a40);
}

.bg-gradient-success {
  background-image: linear-gradient(to bottom, #198754, #146c43);
}

.bg-gradient-info {
  background-image: linear-gradient(to bottom, #0dcaf0, #3dd3f6);
}

.bg-gradient-warning {
  background-image: linear-gradient(to bottom, #ffc107, #ffcd39);
}

.bg-gradient-danger {
  background-image: linear
}
  